.client-section{
    padding: 100px 0;
    .container{
        .image-carousel{
            width: 70%;
            margin: auto;
            margin-bottom: 20px;
            .slick-list{
                overflow: hidden;
                padding: 0;
                .slick-slide{
                    text-align: center;
                    img{
                        border-radius: 50%;
                        cursor: pointer;
                        padding: 12px;
                        margin-bottom: 10px;
                        opacity: 0.5;
                        transition: all 0.3s ease-in-out;
                    }
                    h3{
                        font-size: 16px;
                        text-align: center;
                        opacity: 0;
                        visibility: hidden;
                        font-weight: 700;
                        transition: all 0.3s ease-in-out;
                    }
                    span{
                        color: $grayColor;
                        font-size: 14px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s ease-in-out;
                    }
                }
                .slick-center{
                    img{
                        padding: 0;
                        opacity: 1;
                    }
                    h3{
                        opacity: 1;
                        visibility: visible;
                    }
                    span{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            
        }
        .opinions-carousel{
            text-align: center;
            margin: auto;
            width: 60%;
            font-size: 25px;
            color: $grayColor;
            line-height: 1.5;
            .slick-list{
                overflow: hidden;
                padding: 0;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .client-section{
        .container{
            .opinions-carousel{
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .client-section{
        padding: 60px 0;
        .container{
            .image-carousel{
                .slick-list{
                    .slick-slide{
                        h3{
                            width: 79%;
                            margin: auto;
                        }
                    }
                }
            }
            .opinions-carousel{
                width: 80%;
                font-size: 22px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .client-section{
        .container{
            .image-carousel{
                .slick-list{
                    .slick-slide{
                        h3{
                            width: 78%;
                        }
                    }
                }
            }
            .opinions-carousel{
                width: 100%;
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 326px) {
    .client-section{
        .container{
            .opinions-carousel{
                font-size: 16px;
            }
        }
    }
}