.team-section{
    padding: 100px 0;
    .container{
        .team-item{
            .team-image{
                position: relative;
                border-radius: 4px;
                overflow: hidden;
                margin-bottom: 20px;
                img{
                    width: 100%;
                    border-radius: 4px;
                    transition: all 0.3s ease-in-out;
                }
                .overlay{
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: rgba(242, 84, 84, 0.85);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                    a{
                        color: #fff;
                        font-size: 22px;
                        margin-right: 12px;
                        &:last-of-type{
                            margin-right: 0;
                        }
                    }
                }
            }
            .team-title{
                color: $blackColor;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 5px;
                transition: all 0.3s ease-in-out;
            }
            .team-description{
                color: $grayColor;
                font-size: 14px;
            }
            
            &:hover{
                img{
                    transform: scale(1.2, 1.2);
                }
                .overlay{
                    opacity: 0.8;
                }
                .team-title{
                    color: $orangeColor;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .team-section{
        padding: 60px 0;
        .container{
            .team-item{
                margin-bottom: 30px;
            }
        }
    }
}